@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #fa0000;
    --color-dark-bg: #333235;
    --color-burgundy: #833434;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-neon-red text-white rounded hover:bg-primary transition;
  }

  .btn-glow {
    @apply shadow-red-glow;
  }

  .form-input {
    @apply w-full px-3 py-2 border-b-2 border-gray-400 focus:border-neon-red;
  }

  .card {
    @apply bg-white rounded-lg shadow-md p-4;
  }

  .header-bg {
    @apply bg-black h-32 flex items-center justify-between px-5;
  }

  .home-bg {
    @apply bg-dark-bg min-h-screen text-white;
  }
}