/* Estilos generales del cuerpo/body */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-decoration: none;
}

/* Estilos del encabezado/header */
header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para la navegación */
nav {
    text-align: center;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 17px;
}

nav a {
    color: #fff;
    padding: 0px 23px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos para las secciones de productos y carrito */
.productos,
.carrito {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;

}

/* Estilos para el logo */
.logo {

    color: rgb(226, 16, 16);
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
    width: 350px;
    padding-right: 0;


}

/* Estilos para el texto debajo del logo */
.texto_logo {
    font-size: 6pxpx;
    color: #333;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 280px;
    height: 30px;
    padding: 0;
    font-size: 20px;


}

/* Estilos para el contenedor de eliminar producto */
.eliminar-producto {
    display: flex;
    text-align: left;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    background-color: transparent;

}

.eliminar-texto {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    margin-left: 5px;
    color: #474747;
}

.productos h2,
.carrito h2 {
    margin-top: 0;

}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f8f8f8
}

.producto img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

}

/* Estilos para los botones del producto */
.producto button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

/* Efecto hover para los botones */
.producto button:hover {
    background-color: #e55335;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.carrito li {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

.checkout {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;

}

.cantidad {
    margin-bottom: 25px;
}

.cantidad-num {
    font-size: 18px;
    width: 30px;
    text-align: center;

}


.checkout:hover {
    background-color: #662a1e;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.cantidad-num {
    margin: 10px;
    background-color: #f1f0f0;


}

/* Estilos para los nombres de los productos */
.producto_nombre {
    margin-top: 0px;
}

/* Estilos para los descuentos */
.descuentos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
}

.total {
    background-color: #f1f0f0;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-top: 3px;
}